/* Color Helpers */
.color-primary {
	color: #0044aa;
}

.color-light {
	color: #afc6e9;
}

.color-dark {
	color: #5f99f2;
}

.bgcolor-primary {
	background-color: #0044aa;
}

.bgcolor-light {
	background-color: #afc6e9;
}

.bgcolor-dark {
	background-color: #5f99f2;
}

.color-boxes .box {
	margin: 10px auto;
	width: 60px;
	height: 60px;
}

.color-names {
	margin-top: 20px;
}

.color-names p {
	margin: 0;
}

.main-header {
	padding: 20px 20px 10px;
	border-bottom: 4px solid #afc6e9;
}

.header-info {
	float: right;
	text-align: right;
}

.header-info .my-name {
	font-size: 3em;
	margin: 0;
	color: #0044aa;
}

.udacity-logo {
	width: 90px;
	height: 90px;
}

.hero {
	margin-top: 20px;
	max-height: 450px;
	overflow: hidden;
}

.main-section {
	padding-bottom: 20px;
}

.banner {
	width: 100%;
}

.featured .featured-item {
	text-align: center;
}

.featured .featured-item .featured-img {
	width: 100%;
}

.featured .featured-item :hover {
	text-decoration: none;
}